<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h4 {
            width:10%;
        }
        h4 :hover {
            cursor: pointer;
        }
        .submenu, .submenu-devices {
            display: none;
        }
    </style>
    <title>Root</title>
    
</head>
<body>
    <header>
        <h1>REST API: users and devices</h1>
        <div>
            Welcome to the root of my API. Here I will write a short text explaining how to correctly make use of the API
        </div>
    </header>

    <main>
        <p>
            This API is short and sweet, storing 2 entities: users and devices. Both of these can be created, updated and deleted
        </p>

        <div id="users">
            <h2>Users</h2>

            <ul>
                <h4 id="user-tag-1">properties &#8615;</h4>
            <ul class="submenu" id="u1">
                <li>
                    id
                    <ul>
                        <li>description: the ID of the user, used for linking to a specific user in requests</li>
                        <li>type: number</li>
                    </ul>
                </li>
                <li>
                    first_name
                    <ul>
                        <li>description: the first name of the user.</li>
                        <li>type: string</li>
                        <li>note: When all users are asked, will be combined with the regular name</li>
                    </ul>
                </li>
                <li>
                    name
                    <ul>
                        <li>description: the last name of the user</li>
                        <li>type: string</li>
                    </ul>
                </li>
                <li>
                    email
                    <ul>
                        <li>description: the users email. This must always be saved in form of an email</li>
                        <li>type: email string</li>
                    </ul>
                </li>
                <li>
                    about_me
                    <ul>
                        <li>description: a short description of the user.</li>
                        <li>type: string</li>
                    </ul>
                </li>
                <li>
                    birthday
                    <ul>
                        <li>description: The date the user was born. Formatted in yyyy:mm:dd</li>
                        <li>type: date</li>
                    </ul>
                </li>
            </ul>

            <h4 id="user-tag-2">Fetch all users &#8615;</h4>
            <ul class="submenu" id="u2">
                <li>
                    <br>
                    <ul>
                        <li>GET path: <a href="http://localhost:8000/users/">http://localhost:8000/users/</a></li>
                        <li>GET path for specific index: http://localhost:8000/users/page/{id}</li>
                        <li>Note: the first path is a general call, but will always send the first page of users</li>
                    </ul>
                </li>
                <li>Parameteres: id if we want a specific page of users</li>
                <li>
                    Returns: a list of the first 5 users, and a link to the next 5. This is to prevent too many users from being sendt at once
                </li>
                <li>
                    Example:
                    <ul>
                        <li>URL: http://localhost:8000/users/page/2</li>
                        <li>
                            Response:<br>
                            {<br>
                                "users":<br>
                                [<br>
                                {"id":6,"name":"steven Coulomnier","details":"http://localhost:8000/users/6"},<br>
                                {"id":7,"name":"David Felix","details":"http://localhost:8000/users/7"},<br>
                                {"id":8,"name":"steven Weemaels","details":"http://localhost:8000/users/8"},<br>
                                {"id":9,"name":"David Coulomnier","details":"http://localhost:8000/users/9"},<br>
                                {"id":10,"name":"steven Weemaels","details":"http://localhost:8000/users/10"}<br>
                                ],<br>
                                "next_line":"http://localhost:8000/users/page/3",<br>
                                "previous_line":"http://localhost:8000/users/page/1"}
                        </li>
                    </ul>
                </li>
            </ul>


            <h4 id="user-tag-3">Fetch a user &#8615;</h4>
            <ul class="submenu" id="u3">
                <li>GET path: http://localhost:8000/users/{id}</li>
                <li>Parameters: user id of the user in the url</li>
                <li>Returns: All the associated user data, or an error if the user doesn't exists</li>
                <li>Example:
                    <ul>
                        <li>URL: http://localhost:8000/users/42</li>
                        <li>
                            Response:
                            <p>
                                {<br>
                                    "id":42,<br>
                                    "first_name":"Big Boss",<br>
                                    "name":"Robin",<br>
                                    "email":"admin@ehb.be",<br>
                                    "about_me":"I'm the big boss admin! My name is Steven Bertsonn",<br>
                                    "birthday":"2004-04-06"<br>
                                }
                            </p>
                        </li>
                        <li>
                            Error:
                            <p>
                                {<br>
                                    "notfound": "This user doesn't appear to exist"<br>
                                }   
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4 id="user-tag-4">Create a user &#8615;</h4>
            <ul class="submenu" id="u4">
                <li>POST path: http://localhost:8000/users</li>
                <li>
                Request body: 
                <ul>
                    <li>encoding type: JSON</li>
                    <li>
                        first_name: 
                        <ul>
                            <li>Type: Required string</li>
                            <li>Note: Numbers are not allowed inside this field</li>
                        </ul>
                    </li>
                    <li>
                        name: 
                        <ul>
                            <li>Type: Required string</li>
                        </ul>
                    </li>
                    <li>
                        email: 
                        <ul>
                            <li>Type: Required string</li>
                            <li>Note: string must be in email format, and the email must be unique</li>
                        </ul>
                    </li>
                    <li>
                        about_me: 
                        <ul>
                            <li>Type: Required string</li>
                        </ul>
                    </li>
                    <li>
                        birthday: 
                        <ul>
                            <li>Type: Required date</li>
                        </ul>
                    </li>

                </ul>

                <li>Returns: a succes or error message</li>

                <li>
                        Example: <br>
                        <ul>
                            <li>
                                Request:
                                <p>
                                    {<br>
                                        "first_name" : "Jean-pièrre",<br>
                                        "name": "philippe",<br>
                                        "email": "Jean@example.com",<br>
                                        "birthday": "1990-01-01",<br>
                                        "about_me": "I am Jean!"<br>
                                    }
                                </p>
                            </li>
                            <li>
                                Succes message: <br>
                                <p>
                                    {<br>
                                        "succes": "Account succesfully added!"<br>
                                    }
                                </p>
                            </li>
                            <li>
                                Error message: <br>
                                <p>
                                    {
                                        "errors": [
                                            {
                                                "type": "field",
                                                "msg": "Give the user a first_name",
                                                "path": "first_name",
                                                "location": "body"
                                            }
                                        ]
                                    }
                                </p>
                            </li>
                            <li>
                                Error message (wrong parameter)
                                <p>
                                    {
                                        "errors": [
                                            {
                                                "type": "field",
                                                "value": "fre345",
                                                "msg": "Give a first_name without numbers",
                                                "path": "first_name",
                                                "location": "body"
                                            }
                                        ]
                                    }
                                </p>
                            </li>
                        </ul>
                    </li>
                </li>
            </ul>

            <h4 id="user-tag-5">Delete a user &#8615;</h4>
            <ul class="submenu" id="u5">
                <li>DELETE path: http://localhost:8000/users/{id}</li>
                <li>Parameteres: user id in url</li>
                <li>Returns: a succes message if the user was deleted, or an error message if the user wasn't found</li>
                <li>
                    Example: 
                    <ul>
                        <li>URL: http://localhost:8000/users/420</li>
                        <li>
                            Response:<br>
                            {<br>
                                "succes": "account succesfully deleted"<br>
                            }
                        </li>
                        <li>
                            Error:
                            <p>{<br>
                                "errors": "This user doesn't appear to exist"<br>
                            }</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4 id="user-tag-6">Update a user &#8615;</h4>
            <ul class="submenu" id="u6">
                <li>PATCH path: http://localhost:8000/users/</li>
                <li>URL parameters: none</li>
                <li>
                            Request body: 
                            <ul>
                                <li>encoding type: JSON</li>
                                <li>
                                    ID:
                                    <ul>
                                        <li>Type: required integer</li>
                                        <li>Note: Must be the id of an existing user</li>
                                    </ul>
                                </li>
                                <li>
                                    email: 
                                    <ul>
                                        <li>Type: optional string</li>
                                        <li>Note: string must be in email format, and the email must be unique</li>
                                    </ul>
                                </li>
                                <li>
                                    about_me: 
                                    <ul>
                                        <li>Type: optional string</li>
                                    </ul>
                                </li>
                                <li>
                                    birthday: 
                                    <ul>
                                        <li>Type: optional date</li>
                                    </ul>
                                </li>

                            </ul>
                </li>
                <li>Returns: a succes message and the user link if the user was updated, or an error message</li>
                <li>
                    Notes:
                    <ul>
                        <li>all parameters bedsides id are optional, but if they are given with the request, they can't be empty</li>
                        <li>name and first_name can't be updated, and won't be accepted by the request</li>
                    </ul>
                </li>
                <li>
                    Example: 
                    <ul>
                        <li>URL: http://localhost:8000/users/</li>
                        <li>
                            Request: 
                            <p>
                                {
                                    "id": 4,
                                    "email":"Thomas.Wyseur@example.com",
                                    "about_me": "Ik ben de docent Network Essentials en Scaling Networks"
                                }
                            </p>
                        </li>
                        <li>
                            Response:
                            <p>
                                {
                                    "succes": "User succesfully changed!",
                                    "changed_user": "http://localhost:8000/users/4"
                                }
                            </p>
                        </li>
                        <li>
                            Error if user doesn't exist:
                            <p>
                                {
                                    "notfound": "This user doesn't appear to exist"
                                }
                            </p>
                        </li>
                        <li>
                            Error if a parameter was filled in wrong:
                            <p>
                                {
                                    "errors": [
                                        {
                                            "type": "field",
                                            "value": "Thomas.Wyseur",
                                            "msg": "The email value isn't a correct mail",
                                            "path": "email",
                                            "location": "body"
                                        }
                                    ]
                                }
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
            </ul>

            
        </div>

        <div id="devices">
            <h2>Devices</h2>
            <ul>
                <h4 id="device-tag-1">Properties &#8615;</h4>
                <ul class="submenu-devices" id="d1">
                    <li>
                        id
                        <ul>
                            <li>description: the ID of the device, used for linking to a specific device in requests</li>
                            <li>type: number</li>
                        </ul>
                    </li>
                    <li>
                        name
                        <ul>
                            <li>description: device name</li>
                            <li>type: string</li>
                        </ul>
                    </li>
                    <li>
                        release_date
                        <ul>
                            <li>description: When the device was released</li>
                            <li>type: date</li>
                        </ul>
                    </li>
                    <li>
                        description
                        <ul>
                            <li>description: a short description of the device.</li>
                            <li>type: string</li>
                        </ul>
                    </li>
                </ul>

                <h4 id="device-tag-2">Fetch all devices &#8615;</h4>
                <ul class="submenu-devices" id="d2">
                    <li>GET path: <a href="http://localhost:8000/devices/">http://localhost:8000/devices/</a></li>
                    <li>Parameters: none</li>
                    <li>Returns: a list of all the devices</li>
                </ul>

                <h4 id="device-tag-3">Fetch one device &#8615;</h4>
                <ul class="submenu-devices" id="d3">
                    <li>GET path: http://localhost:8000/devices/{id}</li>
                    <li>Parameters: device id of the user in the url</li>
                    <li>Returns: All the associated device data, or an error if the user doesn't exists</li>
                    <li>Example:
                        <ul>
                            <li>URL: http://localhost:8000/devices/4</li>
                            <li>
                                Response:
                                <p>
                                    {
                                        "id": 4,
                                        "name": "Nintendo Switch",
                                        "release_date": "2017-03-03",
                                        "description": "A console handheld hybrid, released by Nintendo"
                                    }
                                </p>
                            </li>
                            <li>
                                Error:
                                <p>
                                    {
                                        "notfound": "This device doesn't appear to exist"
                                    } 
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h4 id="device-tag-4">Create a device &#8615;</h4>
                <ul class="submenu-devices" id="d4">
                    <li>POST path: http://localhost:8000/devices</li>
                    <li>
                    Request body: 
                    <ul>
                        <li>encoding type: JSON</li>
                        <li>
                            name: 
                            <ul>
                                <li>Type: Required string</li>
                            </ul>
                        </li>
                        <li>
                            description: 
                            <ul>
                                <li>Type: Required string</li>
                            </ul>
                        </li>
                        <li>
                            release_date: 
                            <ul>
                                <li>Type: Required date</li>
                            </ul>
                        </li>

                    </ul>

                    <li>Returns: a succes or error message</li>

                    <li>
                            Example: <br>
                            <ul>
                                <li>
                                    Request:
                                    <p>
                                        {
                                            "name": "Playstation",
                                            "release_date": "1994-12-03",
                                            "description": "Sony's first gaming console"
                                        }
                                    </p>
                                </li>
                                <li>
                                    Succes message: <br>
                                    <p>
                                        {<br>
                                            "succes": "Device succesfully added!"<br>
                                        }
                                    </p>
                                </li>
                                <li>
                                    Error message: <br>
                                    <p>
                                        {
                                            "errors": [
                                                {
                                                    "type": "field",
                                                    "msg": "Please give a release_date",
                                                    "path": "release_date",
                                                    "location": "body"
                                                },
                                                {
                                                    "type": "field",
                                                    "msg": "The release_date isn't a correct date",
                                                    "path": "release_date",
                                                    "location": "body"
                                                }
                                            ]
                                        }
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </li>
                </ul>

                <h4 id="device-tag-5">Delete a device &#8615;</h4>
                <ul class="submenu-devices" id="d5">
                    <li>DELETE path: http://localhost:8000/devices/{id}</li>
                    <li>Parameteres: device id in url</li>
                    <li>Returns: a succes message if the device was deleted, or an error message if the device wasn't found</li>
                    <li>
                        Example: 
                        <ul>
                            <li>URL: http://localhost:8000/devices/4</li>
                            <li>
                                Response:<br>
                                {
                                    "succes": "device succesfully deleted"
                                }
                            </li>
                            <li>
                                Error:
                                <p>{<br>
                                    "notfound": "This device doesn't appear to exist"<br>
                                }</p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h4 id="device-tag-6">Update a device &#8615;</h4>
            <ul class="submenu-devices" id="d6">
                <li>PATCH path: http://localhost:8000/device/</li>
                <li>URL parameters: none</li>
                <li>
                            Request body: 
                            <ul>
                                <li>encoding type: JSON</li>
                                <li>
                                    ID:
                                    <ul>
                                        <li>Type: required integer</li>
                                        <li>Note: Must be the id of an existing device</li>
                                    </ul>
                                </li>
                                <li>
                                    name: 
                                    <ul>
                                        <li>Type: optional string</li>
                                    </ul>
                                </li>
                                <li>
                                    description: 
                                    <ul>
                                        <li>Type: optional string</li>
                                    </ul>
                                </li>
                                <li>
                                    release_date: 
                                    <ul>
                                        <li>Type: optional date</li>
                                    </ul>
                                </li>

                            </ul>
                </li>
                <li>Returns: a succes message and the device link if the device was updated, or an error message</li>
                <li>
                    Notes:
                    <ul>
                        <li>all parameters bedsides id are optional, but if they are given with the request, they can't be empty</li>
                    </ul>
                </li>
                <li>
                    Example: 
                    <ul>
                        <li>URL: http://localhost:8000/devices/</li>
                        <li>
                            Request: 
                            <p>
                                {
                                    "id": 2,
                                    "name": "Playstation",
                                    "release_date": "1994-12-03",
                                    "description": "Sony's first gaming console"
                                }
                            </p>
                        </li>
                        <li>
                            Response:
                            <p>
                                {
                                    "succes": "Device succesfully changed",
                                    "changed_device": "http://localhost:8000/devices/2"
                                }
                            </p>
                        </li>
                        <li>
                            Error if the device doesn't exist:
                            <p>
                                {
                                    "notfound": "This device doesn't appear to exist"
                                }
                            </p>
                        </li>
                        <li>
                            Error if a parameter was filled in wrong:
                            <p>
                                {
                                    "errors": [
                                        {
                                            "type": "field",
                                            "value": "fre-12-03",
                                            "msg": "The release_date isn't a correct date",
                                            "path": "release_date",
                                            "location": "body"
                                        }
                                    ]
                                }
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>

            </ul>
        </div>



    </main>

</body>
<script>
    const submenus = document.getElementsByClassName('submenu')
    const submenu_devices = document.getElementsByClassName('submenu-devices')

    for (let submenu of submenus) {
        const tag = document.getElementById(`user-tag-${submenu.id.charAt(1)}`)
        tag.addEventListener('click', () => {
            if (submenu.style.display == 'block') submenu.style.display = 'none'
            else submenu.style.display = 'block'
        })
        console.log(submenu)
    }
    for (let submenu of submenu_devices) {
        const tag = document.getElementById(`device-tag-${submenu.id.charAt(1)}`)
        tag.addEventListener('click', () => {
            if (submenu.style.display == 'block') submenu.style.display = 'none'
            else submenu.style.display = 'block'
        })
    }
</script>
</html>